.page-head .right {
  text-align: center;
  position: relative;
  height: 325px;
}

.page-head .right .stand {
    display: none;
    width: 200px;
    height: 280px;
    border-left: 4px solid black;
}
.page-head .right .stand::before {
    content: "";
    position: absolute;
    left: 0;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-bottom: 4px solid black;
    bottom: 0;
    right: 50%;
}
.page-head .right .stand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 4px;
  background-color: black;
}
.page-head .right .the-hang{
    display: none;
    height: 64px;
    background-color: black;
    top: 0;
    left: 120px;
    border: 3px solid black;
}
.page-head .right .draw-head {
    display: none;
    width: 50px;
    height: 50px;
    border: 4px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 70px;
    left: 98px;

}
.page-head .right .draw-head::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    border: 4px dashed black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.page-head .right .hands{
    display: none;
    height: 70px;
    border-left: 4px solid black;
    top:120px;
    left: 120px;
    
}
.page-head .right .hands::before{
    content: "";
    position: absolute;
    left: 19px;
    top: -4px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.page-head .right .hands::after{
    content: "";
    position: absolute;
    right: 19px;
    top: -4px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.page-head .right .legs{
    display: none;
    height: 70px;
    border-left: 4px solid black;
    top:190px;
    left: 120px;
}
.page-head .right .legs::after{
    content: "";
    position: absolute;
    left: 19px;
    top: 60px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.page-head .right .legs::before{
    content: "";
    position: absolute;
    right: 19px;
    top: 60px;
    height: 80px;
    border: 3px solid black;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.left >span{
    padding: 20px;
    background-color: #008789;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 0;
    width: 15px;
    margin: 3px 10px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    }

    .left >span.display{
        background-color: #a5acb4c7;
        cursor: not-allowed;
    }
    .left.finished{
        cursor:not-allowed;
    }
    
.guess-letters{
    margin: 30px auto;
    text-align: center;
    background-color:#f8f8f8;
    height: 80px;
    padding: 15px;
}
.guess-letters span{
    /* padding:10px 15px; */
    border-bottom: 2px solid black;
    background-color: white;
    /* cursor: pointer; */
    color: black;
    margin-left: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guess-letters span.space::after{
    content: "-";
    font-size: 30px;
}
.right .the-draw.wrong-1 .stand{
    display: block;
}
.right .the-draw.wrong-2 .the-hang{
    display: block;
}
.right .the-draw.wrong-3 .draw-head{
    display: block;
}
.right .the-draw.wrong-4 .draw-body{
    display: block;
}
.right .the-draw.wrong-5 .hands{
    display: block;
}
.right .the-draw.wrong-6 .legs{
    display: block;
}